<a href="https://colab.research.google.com/github/krishkatyal/boston_housing_pred/blob/main/boston_housing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from sklearn.datasets import load_boston

In [3]:
df = load_boston()

In [4]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [8]:
df

{'data': array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 1.5300e+01, 3.9690e+02,
         4.9800e+00],
        [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9690e+02,
         9.1400e+00],
        [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9283e+02,
         4.0300e+00],
        ...,
        [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
         5.6400e+00],
        [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9345e+02,
         6.4800e+00],
        [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
         7.8800e+00]]),
 'target': array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
        18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
        15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
        13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
        21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
        35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
        19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
        20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
        23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
        33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
        21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
        20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
        23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
        15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
        17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
        25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
        23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
        32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
        34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
        20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
        26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
        31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
        22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
        42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
        36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
        32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
        20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
        20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
        22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
        21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
        19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
        32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
        18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
        16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
        13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
         7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
        12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
        27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
         8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
         9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
        10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
        15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
        19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
        29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
        20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
        23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9]),
 'feature_names': array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
        'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7'),
 'DESCR': ".. _boston_dataset:\n\nBoston house prices dataset\n---------------------------\n\n**Data Set Characteristics:**  \n\n    :Number of Instances: 506 \n\n    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.\n\n    :Attribute Information (in order):\n        - CRIM     per capita crime rate by town\n        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.\n        - INDUS    proportion of non-retail business acres per town\n        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)\n        - NOX      nitric oxides concentration (parts per 10 million)\n        - RM       average number of rooms per dwelling\n        - AGE      proportion of owner-occupied units built prior to 1940\n        - DIS      weighted distances to five Boston employment centres\n        - RAD      index of accessibility to radial highways\n        - TAX      full-value property-tax rate per $10,000\n        - PTRATIO  pupil-teacher ratio by town\n        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town\n        - LSTAT    % lower status of the population\n        - MEDV     Median value of owner-occupied homes in $1000's\n\n    :Missing Attribute Values: None\n\n    :Creator: Harrison, D. and Rubinfeld, D.L.\n\nThis is a copy of UCI ML housing dataset.\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/housing/\n\n\nThis dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.\n\nThe Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic\nprices and the demand for clean air', J. Environ. Economics & Management,\nvol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics\n...', Wiley, 1980.   N.B. Various transformations are used in the table on\npages 244-261 of the latter.\n\nThe Boston house-price data has been used in many machine learning papers that address regression\nproblems.   \n     \n.. topic:: References\n\n   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.\n   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.\n",
 'filename': '/Applications/Anaconda/anaconda3/lib/python3.8/site-packages/sklearn/datasets/data/boston_house_prices.csv'}

In [9]:
dataset = pd.DataFrame(df.data)

In [10]:
dataset.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [11]:
dataset.shape

(506, 13)

In [12]:
target = df.target

In [13]:
target.shape

(506,)

In [14]:
dataset.isnull().sum()

0     0
1     0
2     0
3     0
4     0
5     0
6     0
7     0
8     0
9     0
10    0
11    0
12    0
dtype: int64

In [15]:
df.feature_names

array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
       'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7')

In [16]:
dataset.columns = df.feature_names

In [17]:
dataset["Price"] = target

In [18]:
dataset.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,Price
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [19]:
X = dataset.loc[:, : 'LSTAT']   # independent features
y = dataset.loc[:, 'Price']    # dependent features

In [20]:
X.shape, y.shape

((506, 13), (506,))

In [21]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X = sc.fit_transform(X)

In [22]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,train_size=0.7,random_state=45)

In [23]:
from sklearn.linear_model import LinearRegression
reg= LinearRegression()
reg.fit(X_train,y_train)

LinearRegression()

In [24]:
y_predicted=reg.predict(X_test)
y_predicted

array([10.00376482, 23.43523897, 24.97427528, 21.49513418, 35.087565  ,
       14.4073179 , 19.53619664, 19.05985671, 27.75456432, 17.46204576,
       14.58406759, 20.1053761 , 36.24481005, 23.76497262, 16.33666771,
       20.04301995, 28.23656578, 11.3120847 , 15.83752045, 22.40804802,
       22.43870432, 14.02359736, 19.9263803 , 32.30256753, 22.55245086,
       27.59507183, 23.04764447,  7.5166162 , 26.13123837, 19.31598931,
       21.3574126 ,  8.47827666, 28.07099631, 24.93339977, 35.83055122,
       25.51079562, 39.48633873,  2.31693321, 31.49374242, 32.59170008,
       19.53631358, 21.99811248, 17.22889357, 31.08987315, 18.82675489,
       18.4344953 , 28.68498327, 28.22378217, 18.42883189, 22.09920102,
       42.71604042, 16.17923339, 27.80491805, 35.20872021, 16.35959907,
       31.2972707 ,  6.02955375, 13.53746555, 18.76542575, 19.79916844,
       14.26765114, 18.28220829, 36.95961088, 35.63832362, 17.984269  ,
       12.91788898, 38.7813029 , 36.25991168, 14.47124049, 19.57611814,
       33.33996765, 19.44056746, 23.53870488, 14.49693298, 10.13159737,
       27.29836976, 35.30167565, 14.58218685, 35.33543387, 13.19523018,
       12.87520232, 16.45362252, 31.95744523, 32.17241052, 24.87691409,
       35.06847759, 24.212929  , 13.93428803, 18.50388769,  6.9540535 ,
       21.9229678 , 10.50958266, 22.90651297, 13.49543285, 31.18432915,
       37.59678711, 21.76451162, 16.94161335, 30.32868476, 20.47089059,
       23.33692776, 30.07081086, 19.76679763, 26.65410124, 25.91448353,
       21.86560238, 22.47269194, 21.63376865, 13.83287536, 16.36635483,
       23.70787033, 11.09076328,  9.16988854, 22.79665317, 25.64643998,
       30.11341775, 15.00454692, 13.2616754 , 15.79878131, 38.32855647,
       22.90650058, 21.54262074, 27.19667897,  2.69485174, 26.51029079,
       32.82377937, 19.72198781, 32.74235117, 29.81342468, 14.23941436,
       23.74145851, 19.66105159, 15.29270542, 19.75766306, 20.27524739,
       19.32541434, 18.12853056, 28.07282492, 29.56274409, 21.6980623 ,
       34.27160347, 25.3008166 , 22.45874303, 19.89028749, 14.92622055,
       21.28980608, 20.82939055, 13.70857245, 16.40669701, 22.12793109,
       31.4471493 , 13.86077688])

In [25]:
from sklearn.metrics import r2_score
accuracy=r2_score(y_test,y_predicted)
accuracy

0.7467438556481061

In [26]:
from sklearn.svm import LinearSVR  #SVR
from sklearn.model_selection import GridSearchCV

In [27]:
lsvr = LinearSVR(verbose=0)
lsvr.fit(X_train, y_train)
score = lsvr.score(X_train, y_train)

In [28]:
print("R-squared:", score)

R-squared: 0.6928789793697125

In [29]:
from sklearn.metrics import mean_squared_error
from sklearn.ensemble import RandomForestRegressor #Random forest

In [30]:
rf_regressor = RandomForestRegressor(100)
rf_regressor.fit(X_train, y_train)

RandomForestRegressor()

In [35]:
y_pred  = rf_regressor.predict(X_test)
y_pred

array([18.448, 32.208, 23.464, 21.582, 42.027, 12.587, 19.9  , 18.524,
       26.834, 20.96 , 11.273, 15.637, 41.177, 19.593, 16.524, 19.226,
       23.486, 18.652, 10.75 , 29.998, 21.094, 19.997, 26.532, 33.459,
       20.705, 29.669, 21.595,  7.65 , 21.371, 20.77 , 20.556,  9.362,
       35.184, 22.523, 42.486, 26.673, 41.821, 12.854, 27.818, 32.245,
       18.327, 19.466, 15.746, 28.424, 17.676, 10.889, 26.035, 27.26 ,
       17.473, 19.386, 48.328, 21.292, 23.037, 44.903, 19.049, 27.151,
        9.224, 15.028, 19.568, 19.065, 12.885, 12.428, 38.518, 31.822,
       15.529, 15.816, 48.31 , 47.518, 29.708, 19.809, 34.556, 19.799,
       22.229, 16.223, 13.687, 26.16 , 31.122, 12.175, 33.508, 12.085,
       15.865, 12.849, 29.054, 31.21 , 23.776, 30.545, 21.172, 16.414,
       16.08 ,  9.576, 24.938, 15.719, 20.182, 11.771, 27.509, 46.483,
       21.103, 13.043, 29.195, 20.85 , 24.009, 33.965, 21.562, 26.573,
       21.425, 20.101, 26.576, 20.538, 16.114, 16.691, 24.937, 12.022,
        9.677, 21.192, 23.248, 31.588, 14.68 , 15.003, 15.282, 46.841,
       21.76 , 19.337, 25.958, 10.331, 25.349, 28.101, 14.221, 32.89 ,
       34.389, 14.491, 24.225, 20.488, 17.794, 20.452, 18.675, 19.514,
       16.258, 30.221, 23.144, 23.816, 33.053, 21.138, 21.162, 19.484,
       15.548, 20.408, 20.678, 16.571, 19.891, 19.623, 41.564, 14.319])

In [36]:
# mean squared error
error = mean_squared_error(y_pred, y_test)    
print ("Error : ", error)

Error :  11.247025506578947